* {
  margin: 0;
}
.App {
  font-family:'Times New Roman', serif;
}
.container {
  width: 1100px;
  margin: 0px auto;
}
@media(max-width: 1100px){
  .container{
    max-width: 870px;
  }
}
@media(max-width: 872px){
  .container{
    max-width: 680px;
  }
}
@media(max-width: 667px){
  .container{
    max-width: none;
  }
}
.app-main {
  background: url(./backgrounds/backgr1.png) center / cover no-repeat;
  display:flex;
  position:relative;
  padding-bottom:50px;
}
.app-gr1 {
  background: url(./backgrounds/backgr2.PNG) center / cover no-repeat;
  display: flex;
}
.what-is-oko h2 {
  color: #ffffff;
  font-size: calc(15px + 6 * (100vw / 1100));
}
.what-is-oko-1 h2 {
  color: #ffffff;
  font-size: calc(12px + 6 * (100vw / 1100));
  margin-left: 2%;
}
.what-is-oko {
  margin: 4% 4% 4% 2%;
}
.App-header {
  background-color: #010101;
  display: flex;
  height: 100%;
}
.cname {
  margin: 5% 1% 5% 5%;
}
.what-is-oko-2 h2 {
  font-size: calc(13px + 6 * (100vw / 1100));
  margin-left: 2%;
}
.what-is-oko-2 {
  color: #ffffff;
  margin-top: 5%;
  margin-bottom: 3%;
}
.what-is-oko-2 ul li {
  font-size: calc(13px + 6 * (100vw / 1100));
  margin-top: 2%;
  list-style-type: none;

}
.cname h1 {
  color: #ffffff;
  font-size: calc(40px + 13 * (100vw / 1100));
  width: auto;
  height: auto;
}
.context-what-is {
  margin-top: 15%;
  position: absolute;
  bottom: 0;
  color: #ffffff;
  margin-left: 2%;
  font-size: calc(11px + 3 * (100vw / 1100));
}
.app-gr1-text {
  margin-top: 5%;
}
.app-gr1-text p {
  color: #ffffff;
  font-size: calc(13px + 10 * (100vw / 1100));
  margin-left: 2%;
  font-weight: bold;
}
.app-gr1-text1 {
  margin-top: 3%;
  margin-left: 2%;
}
.app-gr1-text1 p {
  color: #ffffff;
  font-size: calc(12px + 6 * (100vw / 1100));
}
.app-gr1-ul {
  margin-top: 3%;
  margin-bottom: 2%;
}
.app-gr1-ul ul li{
  font-size: calc(12px + 6 * (100vw / 1100));
  color: #ffffff;
  list-style-type: none;
  margin-top: 2%;

}
.app-gr2 {
  background-color: #1f61f0;
  display: flex;
}
.app-gr2-title {
  margin-top: 4%;
}
.app-gr2-title h2 {
  color: #ffffff;
  font-size: calc(13px + 10 * (100vw / 1100));
  margin-left: 2%;
}
.app-g2-text-1 p {
  margin-top: 4%;
  font-size: calc(13px + 6 * (100vw / 1100));
  color: #ffffff;
  margin-left: 2%;
  margin-bottom: 3%;
}
.app-gr3 {
  background: url(./backgrounds/smartp1.PNG) center / cover no-repeat;
  display: flex;
}
.app-gr3-title h2 {
  font-size: calc(13px + 10 * (100vw / 1100));
  color: #ffffff;
}
.app-gr3-title {
  margin-top: 3%;
  margin-left: 2%;
}
.app-gr3-text {
  margin-left: 2%;
  margin-top: 3%;
  margin-bottom: 3%;
}
.app-gr3-text p {
  font-size: calc(12px + 6 * (100vw / 1100));
  margin-top: 2%;
  color: #ffffff;
}
.foot-title p{
  font-size: calc(12px + 6 * (100vw / 1100));
  font-weight: bold;
}
.foot {
  display: flex;
  background-color: #ffffff;
}
.foot-title {
  margin-top: 5%;
  margin-left: 2%;
}
.numbers {
  margin-left: 2%;
  margin-top: 2%;

}
.numbers p a {
  color: #000000;
  text-decoration: none;
  font-size: calc(12px + 6 * (100vw / 1100));
}
.made_by p {
  text-align: center;
  font-size: calc(8px + 4 * (100vw / 1100));
  margin-bottom: 2%;
}
